                                        /* MOBILE FIRST */

:root{
    /*--primary-color: #0D6FFA;
    --accent-color: #49CE95;
    --danger-color: #EC3582;*/
    --fore-color:rgba(29, 38, 33, 1);
    --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
                                        /* Color Web site */
    --dark-color: #1D2621;
    --blue-color: #80B4BF;
    --body-color: #D9D8D7;
    --background-color: #EEF1F3;
}
                                        /* Increase visibility:
                                        * Content visibility gives a (small) speed gain for almost all websites.*/

#container-header, .container{
    content-visibility: auto;
}
img{ /* for testing */
    image-rendering: optimizeQuality;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}
                                        /* Header */
#container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: var(--dark-color);
    color: var(--body-color);
}
.title-jf, .title-ae{
    position: absolute;
    margin: auto;
}
.title-jf{
    top: 23px;
    font-size: 1.2em;
}
.title-ae{
    top: 60px;
    font-size: 1em;
}
#logo{
    position: absolute;
    left: 10px;
    top: 18px;
}
.imgLogo{
    width: 50%;
    height: auto;
    image-rendering: optimizeQuality;
}
#login{
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 0.8em;
}
.connexion, a{
    color: var(--body-color);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: var(--blue-color);
}
.container-ul{
    display: none;
}
                                        /* @Media Header */
@media (min-width: 992px) {
    #login{
        font-size: 0.9em;
    }
    .container-ul{
        display: flex;
        list-style: none;
    }
    #container-nav{
        position: absolute;
        top: 30px;
        right: 0;
    }
    #container-nav  li{
        margin: 0 15px;
    }
}
                                        /* Header End */

                                        /* Section */
#main{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
                                        /* Home */
.home{
    position: absolute;
    width: 100%;
    height: 95px;
    background: url(../img/img12.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.home h1{
    font-family: 'Great Vibes', cursive, sans-serif;
    text-align: center;
    margin-top: 22px;
    color: var(--body-color);
    font-size: 1.5em;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}
                                        /* @Media Home */
@media (min-width: 992px) {
    .home{
        height: 500px;
    }
    .home h1{
        margin-top: 180px;
        font-size: 4em;
        width: 50%;
        margin-left: 100px;
        height: auto;
    }
}
                                        /* Home End */
                                        /* Container */
.container h2{
    margin: 150px auto 0;
    text-align: center;
}
                                        /* @Media Container */
@media (min-width: 992px) {
    .container h2{
        margin: 600px auto 0;
    }
}
                                        /* Container End */
                                        /* Grid: Posts */

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
    max-width: 1500px;
    width: 85%;
    height: auto;
    margin: 50px auto 100px;
    border-radius: 6px 6px 0 0;
    background-color: var(--body-color);
}
.post, .card, .btn-button:hover{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 1px 3px 8px rgba(128, 180, 191, 0.8); /*0,0,0*/
}
.card{
    width: 90%;
    height: 530px;
    margin: 30px auto;
    background-color: var(--background-color);
}
.card-body{
    display: grid;
    height: 530px;
    grid-template: repeat(2, 100px) 50px repeat(2, 100px) 80px / repeat(3, auto);
    border-radius: 6px;
}
.card-image{
    grid-area: 1 / 1 / 3 / 4;
    background: url("../img/img1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    filter: brightness(90%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.card-title{
    grid-area: 3 / 1/ 4/ 4;
    font-size: 15px;
    font-weight: 500;
    padding: 19px;

}
hr{
    opacity: 0.8;
}
.text-muted{
    /*grid-area: 4/ 1/ 6/ 4;
    padding: 5px 25px;
    color: gray;
    font-size: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 10px;
    font-size: 10px;
    padding: 5px 25px;
}
.text-muted,.text{
    width: 150px;
    color: gray;
}
.fa-newspaper{
    width: 24px;
    color: var(--blue-color);
}
.card-info{
    grid-area: 5/ 1/ 6/ 4;
    padding: 5px 25px;
    font-size: 14px;
    text-align: justify;
}
.btn-button{
    grid-area: 6/ 1/ 7/ 4;
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    background: var(--blue-color);
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
}
.btn-button:hover{
    background-color: var(--dark-color);
    color: var(--background-color)
}
                                        /* @Media Grid: Post */
                                        /* @Media Tablet */
@media (min-width: 768px) {
    .post{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card:first-child{
        grid-column: 1 / -1;
    }
}
                                        /* @Media Desktop */
@media (min-width: 992px) {
    .post{
        grid-template-columns: repeat(3, 1fr);
    }
}
                                        /* Grid: Post End */
                                        /* Section End */
                                        /* Footer */
.container-footer{
    display: none;
}
                                        /* TabBar */
.tab-bottom-bar{
    position: absolute;
    display: flex;
    padding: 16px 36px;
    justify-content: space-between;
    width: auto;
    margin: auto;
    left: 0;
    right: 0;
    height: 32px;
    font-size: 26px;
    background-image:radial-gradient(circle at 36px 6px,transparent 36px, var(--blue-color) 37px);
    filter: drop-shadow(0px -1px 6px  rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px  rgba(0, 0, 0, 0.12));
    transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) .45s;
}
.tab-nav-indicator{
       position: absolute;
       width: 56px;
       height: 56px;
       bottom: 28px;
       margin: auto;
       left: 0;
       background-color: var(--dark-color);
       box-shadow: var(--main-cast-shadow);
       border-radius: 50%;
       transition: cubic-bezier(0.45, 0.73, 0, 0.59) .3s;
}
.tab-menu-item{
    color: var(--fore-color);
    transition: ease-in-out .5s;
    cursor: pointer;
}
.tab-current{
    position: relative;
    color: var(--blue-color);
    z-index: 3;
    transform:translate3d(-2px,-22px,0px);
}
                                        /* @Media Footer */
@media (min-width: 992px) {
    .container-footer{
        display: block;
        background-color: var(--dark-color);
        color: var(--body-color);
        width: auto;
        height: 200px;
    }
    .tab-bottom-bar{
        display: none;
    }
}
                                        /* Footer End */
